<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="ca.mountainpirate.timex.auth.service"/>
	<http use-expressions="true">
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/**" access="isAuthenticated()" />
		<form-login login-page="/login" default-target-url="/timesheets"
			authentication-failure-url="/login?error=true" username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout=true"
			invalidate-session="true" />
		<!-- enable csrf protection -->
		<csrf />
	</http>

	<beans:bean id="daoAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider"
		p:userDetailsService-ref="userDetailsService" />

	<beans:bean id="authenticationManager"
		class="org.springframework.security.authentication.ProviderManager" 
		c:providers-ref="authenticationProviders">
		<!-- <beans:property name="providers">
			<beans:list>
				<beans:ref local="daoAuthenticationProvider" />
			</beans:list>
		</beans:property> -->
	</beans:bean>
	
	<util:list id="authenticationProviders">
		<beans:ref bean="daoAuthenticationProvider"/>
	</util:list>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
			<password-encoder hash="sha" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>